set default="0"
set timeout_style=menu
set timeout=-1

if [ "$grub_platform" == "efi" ]; then
    function load_video {
        insmod efi_gop
        insmod efi_uga
        insmod video_bochs
        insmod video_cirrus
        insmod all_video
    }
else
    function load_video {
        insmod all_video
    }
fi

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

terminal_input console
terminal_output console

search --no-floppy --set=root -l 'BUTRELINUX'

set kernel_path="/images/pxeboot/vmlinuz"
set initrd_path="/images/pxeboot/initrd.img"
set common_args="inst.stage2=hd:LABEL=BUTRELINUX quiet"

@MENU_ENTRIES@
